<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand"
    routerLink="/">
    <img src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg"
      width="30"
      height="30"
      alt="">
    Vivek
  </a>

  <button class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"
    id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active"
        href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link"
        routerLink="learning-forms">Features</a>
      <a class="nav-item nav-link"
        href="#">Pricing</a>
      <a class="nav-item nav-link disabled"
        href="#">Disabled</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div *ngIf="false">
  <input type="text"
    #inputRef />

  <app-parent>
    <div style="border: 2px dashed green;">
      <app-child></app-child>
      <ng-template #templateInsideChild>
        <img src="https://images.unsplash.com/photo-1508583732154-e9ff899f8534?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=46d9d3c806be516cd9bcdd23e3171c67&auto=format&fit=crop&w=1300&q=80" />
      </ng-template>
    </div>
  </app-parent>

  <app-view-container-ref-comp></app-view-container-ref-comp>
  <!-- <app-ng-template-outlet-context></app-ng-template-outlet-context> -->

  <app-posts></app-posts>
</div>

<!-- <app-simple-modal [title]="'Simple Modal Dialog'">
  <div class="list-group">
    <a class="list-group-element"
      *ngFor="let item of ['vivek', 'krishna', 'ekta']">
      {{item}}
    </a>
  </div>
</app-simple-modal>

<button class="btn btn-danger mt-3 mb-3"
  appModalTrigger>Open Modal</button> -->

<!-- Testing directives: {{'vivek kumar' | duration:'aba' }} -->